In [20]:
import pandas as pd

# df = pd.read_csv('../res/crawl_investor_daily_volume.csv').fillna(0)
df = pd.read_csv('../res/crwal_investor_stock_type.csv')
df = df.sort_values(by=['DATEON'], axis=0, ascending=False)
df

,TYPE_CODE,DATEON,END_VALUE,DELTA,UPDOWN_PER,VOLUME,COMP_BUY,FOR_BUY,FOR_CONT,FOR_PER
2099,233740,2024.07.26,9910.0,-25.0,-0.25,18683700.0,-3069600.0,-94335.0,0.0,0.00
2098,233740,2024.07.25,9935.0,-425.0,-4.10,27670600.0,-8731450.0,-560720.0,42648.0,0.04
2097,233740,2024.07.24,10360.0,85.0,0.83,18236500.0,1033550.0,160263.0,603368.0,0.55
2096,233740,2024.07.23,10275.0,65.0,0.64,20878400.0,-990217.0,192766.0,343105.0,0.32
2095,233740,2024.07.22,10210.0,-530.0,-4.93,25376100.0,-10601000.0,-671720.0,50339.0,0.05
...,...,...,...,...,...,...,...,...,...,...
4,233740,2016.01.19,11550.0,-25.0,-0.22,2014000.0,166403.0,0.0,0.0,0.00
3,233740,2016.01.18,11575.0,345.0,3.07,1900820.0,89002.0,0.0,0.0,0.00
2,233740,2016.01.15,11230.0,-215.0,-1.88,2078430.0,-210233.0,0.0,0.0,0.00
1,233740,2016.01.14,11445.0,-125.0,-1.08,1795910.0,55991.0,0.0,0.0,0.00
0,233740,2016.01.13,11570.0,520.0,4.71,1750580.0,-41337.0,0.0,0.0,0.00

In [26]:
df['FOR_BUY_D14']=df.FOR_BUY.rolling(14).sum().shift(1)
df['FOR_BUY_D7']=df.FOR_BUY.rolling(7).sum().shift(1)
df['COMP_BUY_D14']=df.COMP_BUY.rolling(14).sum().shift(1)
df['COMP_BUY_D7']=df.COMP_BUY.rolling(7).sum().shift(1)

,TYPE_CODE,DATEON,END_VALUE,DELTA,UPDOWN_PER,VOLUME,COMP_BUY,FOR_BUY,FOR_CONT,FOR_PER,FOR_BUY_D14,FOR_BUY_D7,COMP_BUY_D14,COMP_BUY_D7
2099,233740,2024.07.26,9910.0,-25.0,-0.25,18683700.0,-3069600.0,-94335.0,0.0,0.00,NaN,NaN,NaN,NaN
2098,233740,2024.07.25,9935.0,-425.0,-4.10,27670600.0,-8731450.0,-560720.0,42648.0,0.04,NaN,NaN,NaN,NaN
2097,233740,2024.07.24,10360.0,85.0,0.83,18236500.0,1033550.0,160263.0,603368.0,0.55,NaN,NaN,NaN,NaN
2096,233740,2024.07.23,10275.0,65.0,0.64,20878400.0,-990217.0,192766.0,343105.0,0.32,NaN,NaN,NaN,NaN
2095,233740,2024.07.22,10210.0,-530.0,-4.93,25376100.0,-10601000.0,-671720.0,50339.0,0.05,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,233740,2016.01.19,11550.0,-25.0,-0.22,2014000.0,166403.0,0.0,0.0,0.00,0.0,0.0,-13885.0,373235.0
3,233740,2016.01.18,11575.0,345.0,3.07,1900820.0,89002.0,0.0,0.0,0.00,0.0,0.0,831238.0,471089.0
2,233740,2016.01.15,11230.0,-215.0,-1.88,2078430.0,-210233.0,0.0,0.0,0.00,0.0,0.0,928365.0,727212.0
1,233740,2016.01.14,11445.0,-125.0,-1.08,1795910.0,55991.0,0.0,0.0,0.00,0.0,0.0,769026.0,417438.0
0,233740,2016.01.13,11570.0,520.0,4.71,1750580.0,-41337.0,0.0,0.0,0.00,0.0,0.0,871546.0,153129.0