In [25]:
import pymysql.cursors
import pandas as pd

conn = pymysql.connect(host='localhost', 
                       user='root', 
                       password='root', 
                       db='zio', 
                       charset='utf8mb4', 
                       autocommit=True, 
                       cursorclass=pymysql.cursors.DictCursor)

def get_investors_volume() :
    cur = conn.cursor()
    sql = "select DATEON, PERSONAL, FOREIGNER, COMPANY, FINANCE, INSURANCE, TOOSIN, BANK, ETC_FIN, GOV_FUND, ETC_FUND from CRAWL_INVESTOR_DAILY_VOLUME where TYPE_CODE='02'"
    cur.execute(sql)
    result = cur.fetchall()
    cur.close()
    df = pd.DataFrame(result)
    df = df.set_index('DATEON')
    return df

def exec_query(sql) -> pd.DataFrame :
    cur = conn.cursor()
    cur.execute(sql)
    result = cur.fetchall()
    # print(result.count())
    cur.close()
    df = pd.DataFrame(result)
    return df

def end_price(sql = "select * from CRWAL_INVESTOR_STOCK_TYPE") :
    return exec_query(sql)

# get_investors_volume()

end_price()

,TYPE_CODE,DATEON,END_VALUE,DELTA,UPDOWN_PER,VOLUME,COMP_BUY,FOR_BUY,FOR_CONT,FOR_PER
0,233740,2016.01.13,11570.0,520.0,4.71,1750580.0,-41337.0,0.0,0.0,0.00
1,233740,2016.01.14,11445.0,-125.0,-1.08,1795910.0,55991.0,0.0,0.0,0.00
2,233740,2016.01.15,11230.0,-215.0,-1.88,2078430.0,-210233.0,0.0,0.0,0.00
3,233740,2016.01.18,11575.0,345.0,3.07,1900820.0,89002.0,0.0,0.0,0.00
4,233740,2016.01.19,11550.0,-25.0,-0.22,2014000.0,166403.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...
2109,233740,2024.08.09,9075.0,490.0,5.71,30441600.0,4745420.0,41395.0,473409.0,0.29
2110,233740,2024.08.12,9180.0,105.0,1.16,15511600.0,1177710.0,-38305.0,535104.0,0.34
2111,233740,2024.08.13,9055.0,-125.0,-1.36,23539200.0,-1675170.0,188.0,635292.0,0.40
2112,233740,2024.08.14,9285.0,230.0,2.54,16664800.0,3288490.0,2949.0,738241.0,0.48
2113,233740,2024.08.16,9655.0,370.0,3.98,16413200.0,5421590.0,35080.0,773321.0,0.51

In [8]:
from pycaret.datasets import get_data
get_data('insurance')

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]