In [11]:
import pandas as pd

# df = pd.read_csv('../res/crawl_investor_daily_volume.csv').fillna(0)
df = pd.read_csv('../res/crwal_investor_stock_type.csv') #, index_col='DATEON'
#df = df.sort_values(by=['DATEON'], axis=0, ascending=True)
df['DATEON'] = df['DATEON'].str[2:]
df = df.set_index('DATEON')
df

,TYPE_CODE,END_VALUE,DELTA,UPDOWN_PER,VOLUME,COMP_BUY,FOR_BUY,FOR_CONT,FOR_PER
DATEON,,,,,,,,,
16.01.13,233740,11570.0,520.0,4.71,1750580.0,-41337.0,0.0,0.0,0.00
16.01.14,233740,11445.0,-125.0,-1.08,1795910.0,55991.0,0.0,0.0,0.00
16.01.15,233740,11230.0,-215.0,-1.88,2078430.0,-210233.0,0.0,0.0,0.00
16.01.18,233740,11575.0,345.0,3.07,1900820.0,89002.0,0.0,0.0,0.00
16.01.19,233740,11550.0,-25.0,-0.22,2014000.0,166403.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...
24.07.22,233740,10210.0,-530.0,-4.93,25376100.0,-10601000.0,-671720.0,50339.0,0.05
24.07.23,233740,10275.0,65.0,0.64,20878400.0,-990217.0,192766.0,343105.0,0.32
24.07.24,233740,10360.0,85.0,0.83,18236500.0,1033550.0,160263.0,603368.0,0.55
24.07.25,233740,9935.0,-425.0,-4.10,27670600.0,-8731450.0,-560720.0,42648.0,0.04
24.07.26,233740,9910.0,-25.0,-0.25,18683700.0,-3069600.0,-94335.0,0.0,0.00

In [28]:
## Join Tables
df2 = pd.read_csv('../res/crawl_investor_daily_volume.csv', index_col='DATEON')
#df2 = df2.drop(columns=['TYPE_CODE'])
#df2
# df3 = df.join(df2, how='inner', on='DATEON')
df3 = pd.merge(left=df, right=df2, how='inner', on='DATEON')
df3.columns

Index(['TYPE_CODE_x', 'END_VALUE', 'DELTA', 'UPDOWN_PER', 'VOLUME', 'COMP_BUY',
       'FOR_BUY', 'FOR_CONT', 'FOR_PER', 'TYPE_CODE_y', 'PERSONAL',
       'FOREIGNER', 'COMPANY', 'FINANCE', 'INSURANCE', 'TOOSIN', 'BANK',
       'ETC_FIN', 'GOV_FUND', 'ETC_FUND'],
      dtype='object')

In [35]:
df3['FOR_BUY_D14']=df3.FOR_BUY.rolling(14).sum().shift(1)
df3['FOR_BUY_D7']=df3.FOR_BUY.rolling(7).sum().shift(1)
df3['COMP_BUY_D14']=df3.COMP_BUY.rolling(14).sum().shift(1)
df3['COMP_BUY_D7']=df3.COMP_BUY.rolling(7).sum().shift(1)

df3['DELTA_OUT']=df3.UPDOWN_PER.shift(-1)
df3 = df3.sort_values(by=['DATEON'], axis=0, ascending=False)
# df = df[['DATEON', 'END_VALUE', 'DELTA_OUT', 'VOLUME', 'UPDOWN_PER', 'COMP_BUY', 'COMP_BUY_D7', 'COMP_BUY_D14', 'FOR_BUY', 'FOR_BUY_D7', 'FOR_BUY_D14']]

df3 = df3.dropna()
df3.fillna(0)
df3

,TYPE_CODE_x,END_VALUE,DELTA,UPDOWN_PER,VOLUME,COMP_BUY,FOR_BUY,FOR_CONT,FOR_PER,TYPE_CODE_y,...,TOOSIN,BANK,ETC_FIN,GOV_FUND,ETC_FUND,FOR_BUY_D14,FOR_BUY_D7,COMP_BUY_D14,COMP_BUY_D7,DELTA_OUT
DATEON,,,,,,,,,,,,,,,,,,,,,
24.07.08,233740,11730.0,280.0,2.45,18197600.0,3587650.0,-112612.0,1361690.0,1.26,1,...,-457.0,-96.0,-1.0,-475.0,48.0,-1313377.0,-246939.0,-37664678.0,-9637520.0,3.57
24.07.05,233740,11450.0,395.0,3.57,23249400.0,6857000.0,486346.0,1574300.0,1.39,1,...,77.0,-241.0,-133.0,-97.0,-499.0,-1331654.0,-325268.0,-31007428.0,-1189220.0,1.70
24.07.04,233740,11055.0,185.0,1.70,15666400.0,3115510.0,-198969.0,1187960.0,1.10,1,...,174.0,-43.0,7.0,731.0,-158.0,-284588.0,-29110.0,-15418978.0,11487730.0,4.92
24.07.03,233740,10870.0,510.0,4.92,22177200.0,6784980.0,987667.0,1386920.0,1.23,1,...,159.0,2.0,21.0,316.0,-205.0,-643820.0,139723.0,-13337018.0,13833237.0,-5.00
24.07.02,233740,10360.0,-545.0,-5.00,23032400.0,-9599520.0,-530913.0,299258.0,0.27,1,...,-1381.0,-24.0,-30.0,-23.0,-117.0,151081.0,820414.0,-5561821.0,20824128.0,3.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16.01.20,233740,11280.0,-270.0,-2.34,2597290.0,-38740.0,0.0,0.0,0.00,1,...,593.0,72.0,11.0,-1566.0,116.0,13000.0,0.0,-1419595.0,433566.0,-0.22
16.01.19,233740,11550.0,-25.0,-0.22,2014000.0,166403.0,0.0,0.0,0.00,1,...,1503.0,37.0,23.0,-3.0,142.0,0.0,0.0,-13885.0,373235.0,3.07
16.01.18,233740,11575.0,345.0,3.07,1900820.0,89002.0,0.0,0.0,0.00,1,...,1240.0,20.0,18.0,89.0,156.0,0.0,0.0,831238.0,471089.0,-1.88
16.01.15,233740,11230.0,-215.0,-1.88,2078430.0,-210233.0,0.0,0.0,0.00,1,...,-1043.0,-19.0,-41.0,170.0,331.0,0.0,0.0,928365.0,727212.0,-1.08
16.01.14,233740,11445.0,-125.0,-1.08,1795910.0,55991.0,0.0,0.0,0.00,1,...,452.0,27.0,-2.0,237.0,337.0,0.0,0.0,769026.0,417438.0,4.71

In [36]:
# train = df3[df3['DATEON'] < '24.05.01']
# test = df3.drop(train.index)
#train.reset_index(inplace=True, drop=True)
#test.reset_index(inplace=True, drop=True)
# train = train.drop(columns=['DATEON'])
# test = test.drop(columns=['DATEON'])

train = df3.sample(frac=0.95, random_state=786)
test = df3.drop(train.index)
train.reset_index(inplace=True, drop=True)
test.reset_index(inplace=True, drop=True)

train

,TYPE_CODE_x,END_VALUE,DELTA,UPDOWN_PER,VOLUME,COMP_BUY,FOR_BUY,FOR_CONT,FOR_PER,TYPE_CODE_y,...,TOOSIN,BANK,ETC_FIN,GOV_FUND,ETC_FUND,FOR_BUY_D14,FOR_BUY_D7,COMP_BUY_D14,COMP_BUY_D7,DELTA_OUT
0,233740,8070.0,300.0,3.86,25151500.0,3648750.0,289537.0,1399390.0,0.97,1,...,-326.0,23.0,-5.0,67.0,220.0,-744900.0,-466838.0,6520904.0,8524168.0,-1.65
1,233740,7980.0,-40.0,-0.50,3196760.0,-367864.0,-64801.0,183312.0,0.57,1,...,-1107.0,-5.0,-12.0,-40.0,-2.0,-125281.0,-53107.0,5679693.0,1318143.0,-2.43
2,233740,7790.0,415.0,5.63,22526300.0,5063250.0,65291.0,6968620.0,4.51,1,...,-86.0,-12.0,168.0,1974.0,57.0,-581377.0,-1683865.0,26914228.0,16692321.0,-1.67
3,233740,10015.0,130.0,1.32,8940770.0,1022980.0,163064.0,1225750.0,1.24,1,...,-416.0,4.0,-30.0,1224.0,67.0,-965725.0,155197.0,-4555053.0,-3027969.0,-0.45
4,233740,9380.0,-895.0,-8.71,18605300.0,-6608430.0,-121048.0,557612.0,0.65,1,...,-1306.0,27.0,5.0,-215.0,458.0,-147757.0,-181205.0,-26079642.0,-17445271.0,-2.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976,233740,10420.0,0.0,0.00,16901200.0,-2280030.0,63182.0,303928.0,0.33,1,...,-1198.0,24.0,-20.0,-2230.0,-671.0,1475395.0,-481334.0,11733454.0,-8987087.0,0.39
1977,233740,6890.0,195.0,2.91,33769500.0,-951819.0,88094.0,938677.0,0.61,1,...,-385.0,-3596.0,-15.0,69.0,171.0,171178.0,415664.0,16768582.0,11600389.0,-3.39
1978,233740,8910.0,200.0,2.30,29179700.0,1369770.0,449156.0,682670.0,0.45,1,...,-462.0,-17.0,47.0,393.0,122.0,210470.0,95662.0,-547355.0,-3573416.0,-0.68
1979,233740,10530.0,20.0,0.19,11714500.0,132158.0,-200558.0,1209200.0,1.11,1,...,-74.0,-178.0,-9.0,-492.0,8.0,5548.0,252487.0,3632999.0,13270519.0,-0.90
1980,233740,9805.0,-520.0,-5.04,53144600.0,-2596800.0,-415342.0,3467490.0,2.68,1,...,78.0,-14.0,-11.0,-1385.0,-345.0,-1746087.0,-1393591.0,-6021511.0,-10784482.0,-8.79

In [37]:
from pycaret.regression import *

s = setup(data = train, target='DELTA_OUT', session_id=123, normalize=True, normalize_method='zscore')

In [38]:
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              10:44:51
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library