In [16]:
import pymysql.cursors
import pandas as pd
conn = pymysql.connect(host='horusa', 
                       user='root', 
                       password='root', 
                       db='zio', 
                       charset='utf8mb4', 
                       autocommit=True, 
                       cursorclass=pymysql.cursors.DictCursor)
cur = conn.cursor()
sql = "select * from crawl_investor_daily_volume where TYPE_CODE='02'"
cur.execute(sql)
result = cur.fetchall()
df = pd.DataFrame(result)
df

,TYPE_CODE,DATEON,PERSONAL,FOREIGNER,COMPANY,FINANCE,INSURANCE,TOOSIN,BANK,ETC_FIN,GOV_FUND,ETC_FUND
0,02,05.01.19,380.0,-250.0,-130.0,46.0,9.0,-98.0,-20.0,-35.0,-33.0,0.0
1,02,05.01.20,323.0,-185.0,-138.0,6.0,13.0,5.0,-45.0,7.0,-124.0,0.0
2,02,05.01.21,235.0,-177.0,-58.0,3.0,-17.0,-49.0,24.0,-2.0,-17.0,0.0
3,02,05.01.24,321.0,-124.0,-196.0,-33.0,12.0,-48.0,22.0,-15.0,-135.0,0.0
4,02,05.01.25,275.0,-76.0,-199.0,-24.0,-17.0,4.0,-34.0,-11.0,-117.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4834,02,24.08.09,-1214.0,508.0,745.0,-202.0,57.0,874.0,4.0,-7.0,18.0,-39.0
4835,02,24.08.12,1716.0,-1550.0,-157.0,-99.0,20.0,112.0,-1.0,-67.0,-121.0,-10.0
4836,02,24.08.13,2406.0,-1742.0,-689.0,2.0,-29.0,-408.0,0.0,-33.0,-220.0,25.0
4837,02,24.08.14,-807.0,828.0,8.0,-84.0,22.0,67.0,-2.0,-47.0,52.0,-29.0
4838,02,24.08.16,-14658.0,12055.0,2159.0,2332.0,-154.0,77.0,-40.0,-32.0,-24.0,445.0

,TYPE_CODE,DATEON,PERSONAL,FOREIGNER,COMPANY,FINANCE,INSURANCE,TOOSIN,BANK,ETC_FIN,GOV_FUND,ETC_FUND
0,02,05.01.19,380.0,-250.0,-130.0,46.0,9.0,-98.0,-20.0,-35.0,-33.0,0.0
1,02,05.01.20,323.0,-185.0,-138.0,6.0,13.0,5.0,-45.0,7.0,-124.0,0.0
2,02,05.01.21,235.0,-177.0,-58.0,3.0,-17.0,-49.0,24.0,-2.0,-17.0,0.0
3,02,05.01.24,321.0,-124.0,-196.0,-33.0,12.0,-48.0,22.0,-15.0,-135.0,0.0
4,02,05.01.25,275.0,-76.0,-199.0,-24.0,-17.0,4.0,-34.0,-11.0,-117.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4834,02,24.08.09,-1214.0,508.0,745.0,-202.0,57.0,874.0,4.0,-7.0,18.0,-39.0
4835,02,24.08.12,1716.0,-1550.0,-157.0,-99.0,20.0,112.0,-1.0,-67.0,-121.0,-10.0
4836,02,24.08.13,2406.0,-1742.0,-689.0,2.0,-29.0,-408.0,0.0,-33.0,-220.0,25.0
4837,02,24.08.14,-807.0,828.0,8.0,-84.0,22.0,67.0,-2.0,-47.0,52.0,-29.0
4838,02,24.08.16,-14658.0,12055.0,2159.0,2332.0,-154.0,77.0,-40.0,-32.0,-24.0,445.0