In [21]:
import pandas as pd

# df = pd.read_csv('../res/crawl_investor_daily_volume.csv').fillna(0)
df = pd.read_csv('../res/crwal_investor_stock_type.csv', index_col='DATEON')

df = df.sort_values(by=['DATEON'], axis=0, ascending=True)
df

,TYPE_CODE,END_VALUE,DELTA,UPDOWN_PER,VOLUME,COMP_BUY,FOR_BUY,FOR_CONT,FOR_PER
DATEON,,,,,,,,,
2016.01.13,233740,11570.0,520.0,4.71,1750580.0,-41337.0,0.0,0.0,0.00
2016.01.14,233740,11445.0,-125.0,-1.08,1795910.0,55991.0,0.0,0.0,0.00
2016.01.15,233740,11230.0,-215.0,-1.88,2078430.0,-210233.0,0.0,0.0,0.00
2016.01.18,233740,11575.0,345.0,3.07,1900820.0,89002.0,0.0,0.0,0.00
2016.01.19,233740,11550.0,-25.0,-0.22,2014000.0,166403.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...
2024.07.22,233740,10210.0,-530.0,-4.93,25376100.0,-10601000.0,-671720.0,50339.0,0.05
2024.07.23,233740,10275.0,65.0,0.64,20878400.0,-990217.0,192766.0,343105.0,0.32
2024.07.24,233740,10360.0,85.0,0.83,18236500.0,1033550.0,160263.0,603368.0,0.55
2024.07.25,233740,9935.0,-425.0,-4.10,27670600.0,-8731450.0,-560720.0,42648.0,0.04
2024.07.26,233740,9910.0,-25.0,-0.25,18683700.0,-3069600.0,-94335.0,0.0,0.00

In [28]:
## Join Tables
df2 = pd.read_csv('../res/crawl_investor_daily_volume.csv', index_col='DATEON')
#df2 = df2.drop(columns=['TYPE_CODE'])
df2
# df3 = df.join(df2, how='inner')
# df3

,TYPE_CODE,PERSONAL,FOREIGNER,COMPANY,FINANCE,INSURANCE,TOOSIN,BANK,ETC_FIN,GOV_FUND,ETC_FUND
DATEON,,,,,,,,,,,
05.01.12,1,16.0,966.0,-982.0,-107.0,9.0,-186.0,-56.0,103.0,-744.0,0.0
05.01.13,1,-533.0,-269.0,802.0,-628.0,-7.0,404.0,67.0,54.0,912.0,0.0
05.01.14,1,-3914.0,1892.0,2022.0,-133.0,-134.0,1661.0,91.0,117.0,419.0,0.0
05.01.17,1,-2578.0,3273.0,-695.0,-387.0,147.0,-755.0,-31.0,204.0,128.0,0.0
05.01.18,1,-434.0,1047.0,-613.0,97.0,-42.0,-825.0,-11.0,74.0,93.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
24.07.22,1,1414.0,-845.0,-238.0,1520.0,-73.0,-703.0,-38.0,-7.0,-936.0,-332.0
24.07.23,1,-1990.0,2502.0,-246.0,-1064.0,86.0,769.0,-137.0,-35.0,137.0,-266.0
24.07.24,1,2345.0,-2654.0,410.0,62.0,165.0,382.0,-51.0,-21.0,-127.0,-101.0
24.07.25,1,8267.0,-6785.0,-1529.0,-3.0,-7.0,-1247.0,-139.0,82.0,-216.0,48.0
24.07.26,1,-3730.0,-475.0,3983.0,2857.0,91.0,1167.0,-204.0,21.0,51.0,222.0

In [8]:
df['FOR_BUY_D14']=df.FOR_BUY.rolling(14).sum().shift(1)
df['FOR_BUY_D7']=df.FOR_BUY.rolling(3).sum().shift(1)
df['COMP_BUY_D14']=df.COMP_BUY.rolling(14).sum().shift(1)
df['COMP_BUY_D7']=df.COMP_BUY.rolling(3).sum().shift(1)
df['DELTA_OUT']=df.UPDOWN_PER.shift(-1)

df = df.sort_values(by=['DATEON'], axis=0, ascending=True)
df = df[['DATEON', 'END_VALUE', 'DELTA_OUT', 'VOLUME', 'UPDOWN_PER', 'COMP_BUY', 'COMP_BUY_D7', 'COMP_BUY_D14', 'FOR_BUY', 'FOR_BUY_D7', 'FOR_BUY_D14']]

df.dropna()

,DATEON,END_VALUE,DELTA_OUT,VOLUME,UPDOWN_PER,COMP_BUY,COMP_BUY_D7,COMP_BUY_D14,FOR_BUY,FOR_BUY_D7,FOR_BUY_D14
14,2016.02.02,11985.0,-0.96,1091070.0,0.33,66242.0,399455.0,763967.0,0.0,0.0,0.0
15,2016.02.03,11870.0,0.04,1198020.0,-0.96,-46529.0,397148.0,871546.0,0.0,0.0,0.0
16,2016.02.04,11875.0,-0.67,1816400.0,0.04,-50894.0,329028.0,769026.0,0.0,0.0,0.0
17,2016.02.05,11795.0,-9.75,1017640.0,-0.67,-8125.0,-31181.0,928365.0,0.0,0.0,0.0
18,2016.02.11,10645.0,-14.51,1942020.0,-9.75,-678720.0,-105548.0,831238.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2094,2024.07.19,10740.0,-4.93,15638800.0,1.61,-296311.0,-16052730.0,-1021700.0,46680.0,16533.0,154128.0
2095,2024.07.22,10210.0,0.64,25376100.0,-4.93,-10601000.0,-10529091.0,-4560341.0,-671720.0,-126975.0,291888.0
2096,2024.07.23,10275.0,0.83,20878400.0,0.64,-990217.0,-16269441.0,-5561821.0,192766.0,-764412.0,151081.0
2097,2024.07.24,10360.0,-4.10,18236500.0,0.83,1033550.0,-11887528.0,-13337018.0,160263.0,-432274.0,-643820.0
2098,2024.07.25,9935.0,-0.25,27670600.0,-4.10,-8731450.0,-10557667.0,-15418978.0,-560720.0,-318691.0,-284588.0

In [9]:
train = df[df['DATEON'] < '2024.05.01']
test = df.drop(train.index)
train.reset_index(inplace=True, drop=True)
test.reset_index(inplace=True, drop=True)

train = train.drop(columns=['DATEON'])
test = test.drop(columns=['DATEON'])

In [10]:
from pycaret.regression import *

s = setup(data = train, target='DELTA_OUT', session_id=123, normalize=True, normalize_method='zscore')

In [11]:
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              21:15:58
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library