In [84]:
from typing import Optional
from bs4 import BeautifulSoup, Tag
import requests

# code = '005930'
# url = f'https://finance.naver.com/item/sise_day.naver?code={code}'
url = 'https://finance.naver.com/item/frgn.naver?code=233740'
req = requests.get(url, headers={'User-agent': 'Mozilla/5.0'})

#print(req.text)

dom = BeautifulSoup(req.text, "html.parser")
wrapped = dom.select('table.type2 > tr')

# mo = dom.find_all('tr', {"onMouseOver": "mouseOver(this)", "onMouseOut": "mouseOut(this)"})

sel = dom.select('table.type2 > tr > td.tc')
###

class DataCompFor:
    def __init__(self, date, end_value, delta, updown_per, volume, comp_buy, for_buy, for_cont, for_per):
        self._date = date
        self._end_value = end_value
        self._delta = delta
        self._updown_per = updown_per
        self._volume = volume
        self._comp_buy = comp_buy
        self._for_buy = for_buy
        self.for_cont = for_cont
        self.for_per = for_per
    
    def __str__(self):
        return "date: " + self._date + ", end_value: " + self._end_value
            

# def convert(tr: Optional[Tag]): 
#     return DataCompFor(
#         tr.select_one('td:nth-child(1)').text,
#         tr.select_one('td:nth-child(2)').text,
#         tr.select_one('td:nth-child(3)').text.strip(),
#         tr.select_one('td:nth-child(4)').text.strip(),
#         tr.select_one('td:nth-child(5)').text,
#         tr.select_one('td:nth-child(6)').text,
#         tr.select_one('td:nth-child(7)').text,
#         tr.select_one('td:nth-child(8)').text,
#         tr.select_one('td:nth-child(9)').text
#     )
# 
# res = map(convert, sel)
# for re in res:
#     print(re)

sel_c = []
#######
for trd in sel:
    tr = trd.parent
    # print('date -> ' + tr.select_one('td:nth-child(1)').text)
    # print('end_value -> ' + tr.select_one('td:nth-child(2)').text)
    # print('delta -> ' + tr.select_one('td:nth-child(3)').text.strip())
    # print('updown_per -> ' + tr.select_one('td:nth-child(4)').text.strip())
    # print('volume -> ' + tr.select_one('td:nth-child(5)').text)
    # print('comp_buy -> ' + tr.select_one('td:nth-child(6)').text)
    # print('for_buy -> ' + tr.select_one('td:nth-child(7)').text)
    # print('for_cont -> ' + tr.select_one('td:nth-child(8)').text)
    # print('for_per -> ' + tr.select_one('td:nth-child(9)').text)
    # print('-----------')
    sel_c.append(DataCompFor(
        tr.select_one('td:nth-child(1)').text,
        tr.select_one('td:nth-child(2)').text,
        tr.select_one('td:nth-child(3)').text.strip(),
        tr.select_one('td:nth-child(4)').text.strip(),
        tr.select_one('td:nth-child(5)').text,
        tr.select_one('td:nth-child(6)').text,
        tr.select_one('td:nth-child(7)').text,
        tr.select_one('td:nth-child(8)').text,
        tr.select_one('td:nth-child(9)').text
    ))
########    

for e in sel_c:
    print(e)

# #content > div.section.inner_sub > table.type2 > tbody > tr:nth-child(4)
# fw = wrapped[3:]
# 
# print(len(fw))
# 
# print('---------')
# 
# for row in wrapped:
#     print(row)
#     print('------------------------------')

date: 2024.07.25, end_value: 9,935
date: 2024.07.24, end_value: 10,360
date: 2024.07.23, end_value: 10,275
date: 2024.07.22, end_value: 10,210
date: 2024.07.19, end_value: 10,740
date: 2024.07.18, end_value: 10,570
date: 2024.07.17, end_value: 10,680
date: 2024.07.16, end_value: 11,035
date: 2024.07.15, end_value: 11,420
date: 2024.07.12, end_value: 11,370
date: 2024.07.11, end_value: 11,435
date: 2024.07.10, end_value: 11,645
date: 2024.07.09, end_value: 11,745
date: 2024.07.08, end_value: 11,730
date: 2024.07.05, end_value: 11,450
date: 2024.07.04, end_value: 11,055
date: 2024.07.03, end_value: 10,870
date: 2024.07.02, end_value: 10,360
date: 2024.07.01, end_value: 10,905
date: 2024.06.28, end_value: 10,540

In [75]:
import time

print('Sleep 5 sec')
time.sleep(5)
print('wake up')

Sleep 5 sec
wake up

In [73]:
def convert_updown_number(text):
    tokens = text.split()
    if tokens[0] == '하락':
        return float(tokens[1]) * -1
    else :
        return float(tokens[1])

tx = '''하락
				425'''
print(convert_updown_number(tx))

def convert_number(text):
    negative = 1
    if text[0] == '+':
        text = text[1:]
        negative = 1
    elif text[0] == '-':
        text = text[1:]
        negative = -1
    text = text.replace(',', '')
    return float(text) * negative
    
print(convert_number('12,123,123'))

-425.0
12123123.0

In [62]:
import re

def check_number(text):
    regex = re.compile(r'((-)?\d{1,3}(,\d{3})*(\.\d+)?)')

    search = regex.search(text)
    if search:
        print('%s is a number!!' % search.group(1))
    else:
        print('%s is not a number!!' % text)


print(check_number('11,893,377'))

11,893,377 is a number!!
None

In [2]:
## mysql ##
import pymysql
conn = pymysql.connect(host='localhost', user='root', password='root', db='zio', charset='utf8mb4')
cur = conn.cursor()

cur.execute("select * from USER_TABLE")

while(True):
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    print("%5s %15s %d"%(data1, data2, data3))

uuid-test-1234            jeff 27
uuid-test-1235         tompson 37